$color: #ff7fc6;
h1{
  color: $color;
}
h2{
  color: $color;
}
li{
  display: block;
}

button{

  color: #ff5d92;
  border-radius: 10px;
  padding: 2px;
  margin:10px;
  width :100px;
  background: #fff7fb;

}
h3{
  color: #3091ff;
}
img{
  width: 100px;
  height:100px;
}
.button{
  display: inline;
}